{% macro displayNewsList(news_list) %} {% for news in news_list %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
  <div class="panel" style="border-bottom: 1px solid white;">
    <div
      class="panel-heading"
      style="background-color:darkblue; color: white; font-size: 18px;"
    >
      {{ news.name }}
    </div>
    <div class="panel-body" style="font-size: 16px;">
      <p>{{news.description | truncate(80)}}</p>
      <a
        href="/news/{{ news.id }}"
        class="btn"
        style="color: darkcyan; background-color: skyblue;"
        >View More</a
      >
    </div>
  </div>
</div>
{% endfor %} {% endmacro %} {% macro displayArticlesList(articles_list) %} {%
for articles in articles_list %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4" style="margin-bottom: 20px;">
  <img
    src="{{ articles.urlToImage }}"
    alt="{{ articles.title }}"
    class="img-responsive"
    style="height: 200px;"
  />
  <h4>{{articles.title | truncate(35)}}</h4>
  <p>{{articles.url | truncate(80)}}</p>
  <br />
  <small>Published At: {{ articles.publishedAt }}</small>
  <br />
  <a
    href="{{ articles.url }}"
    target="_blank"
    class="btn"
    style="background-color:darkcyan; color: #fff; margin-top: 5px;"
    >Read more...</a
  >
</div>
{% endfor %} {% endmacro %}
